<div class="d-flex h-100 w-100 justify-content-center align-items-center">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="lds-text d-flex w-100 justify-content-center align-items-center">
    <div>L</div>
    <div>o</div>
    <div>a</div>
    <div>d</div>
    <div>i</div>
    <div>n</div>
    <div>g</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
</div>

@code {

}
