@page "/about"

<NavBar />
<div class="data-flex p-3 m-3">
<h1>About</h1>
<p>
    I self taught myself HTML back in the early 1990's when the internet was first coming into the household enviroment after my father found a decent guide and used it himself to create
    a website for my step mother. Even back then i really enjoyed putting together the code and seeing something come to life from it. Due to not finishing school and going on to college as
    a teenager, i dabbled from career to career trying to figure out what my calling in life was. It wasn't until i lost a job i loved back in 2019 and was streaming on twitch having help
    from some of my viewers in making a mod and bot for twitch which got my coding interests re-ignited and reminded me of what i was planning on doing if i had gone to college. Because of this
    i found and located a decent training program and got on to it asap to get fast tracked up to speed with how everything works these days.

    During the years where i was trying to figure out my place in thhe world a part of me was always still attached and hooked on coding having helped gaming communities i was part of with making and running forums and websites
    for them, and taking a brief adventure into running my own business which i would still be doing today if i had the knowledge i now have after my course. 
</p>

</div>
<Footer />

@code {

}
