@page "/blog"

<Client.Components.Public.Shared.NavBar />
<main class="container w-100 min-vh-90 py-5 bg2">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Blog</h1>
            <p> Click a Category card to view all blogs tagged with that category</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img src="/assets/img/other/placeholder.jpg" class="card-img-top" alt="Catergory" />
                        <div class="card-body">
                            <h3 class="card-title">Category Name</h3>
                            <p class="card-text">Category Description</p>
                        </div>

                        <a href="/" class="btn btn-primary stretched-link">View Posts</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img src="/assets/img/other/placeholder.jpg" class="card-img-top" alt="Catergory" />
                        <div class="card-body">
                            <h3 class="card-title">Category Name</h3>
                            <p class="card-text">Category Description</p>
                        </div>

                        <a href="/" class="btn btn-primary stretched-link">View Posts</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img src="/assets/img/other/placeholder.jpg" class="card-img-top" alt="Catergory" />
                        <div class="card-body">
                            <h3 class="card-title">Category Name</h3>
                            <p class="card-text">Category Description</p>
                        </div>

                        <a href="/" class="btn btn-primary stretched-link">View Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<Client.Components.Public.Shared.Footer />

@code {

}
