@page "/"

<NavBar />


<main class=" bg1 d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto">
    <div class="container g-0">

        <div class="row g-0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 d-inline-flex flex-column bg-white-94 p-5 card">
                <h1 class="d-inline-flex">Welcome to Mystify CMS Login Page!</h1>
                <p class="d-inline-flex"> Please log in to access the CMS system.</p>
                <br />
                <br />
                Insert username Box Here!
                <br />
                Insert Password Box Here!
                <br />
                <br />
                <a href="/" class="btn btn-primary shadow btn-lg fn-bold mt-3 md-f-size-1-5">
                    <i class="fas fa-arrow-left"></i> Back To Home!</a>
                <br />
                <a href="/" class="btn btn-secondary shadow btn-lg fn-bold mt-3 md-f-size-1-5">
                    <i class="fas fa-info-circle"></i> Contact us For More Info!</a>
            </div>
        </div>
    </div>
</main>

<Footer />