@page "/"

<NavBar />


<main class=" bg1 d-flex flex-column w-100 min-vh-90 justify-content-center align-items-center overflow-auto">
    <div class="container g-0">

        <div class="row g-0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 d-inline-flex flex-column bg-white-94 p-5 card">
                <h1 class="d-inline-flex">Welcome to my little spot on the Internet!</h1>
                <p class="d-inline-flex"> Here is a sample of my knowledge, my work, and the start of my own CMS system.
                    Welcome to my interactive developement resume.
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <a href="/skills" class="btn btn-primary shadow btn-lg fn-bold mt-3 md-f-size-1-5">
                    <i class="fas fa-cogs "></i> Skill set!
                </a>
                <br />
                <a href="/training" class="btn btn-secondary shadow btn-lg fn-bold mt-3 md-f-size-1-5">
                    <i class="fas fa-graduation-cap"></i> Training Taken!</a>
            </div>
        </div>
    </div>
</main>

<Footer />