@page "/skills"

<NavBar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="at-3">Skills</h1>

            <p>On this page i have highlighted my key technical skills that i bring to software development teams.</p>

            <div class="top-row at-4">
                <div class="col-md-4 my-2">
                    <img src="~/assets/img/skillsicon/CSharp.png" class="card-img-top" alt="Skill card thumbnail image"/>

                </div>
            </div>
        </div>
    </div>
</main>

<Footer />

@code {

}
