@page "/training"

<NavBar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Training</h1>

            <p>
                I have spent from Feb 2020 taking a 2 year software developer course through a company in the UK to bring my self taught knowledge up to todays standards.
                This learning covered a vast amount of information including, Java, Python, The web Trifector of HTML, CSS, and JavaScript, C#, and Microsoft MTA Software Fundamentals course.
                As part of this course we gained multiple certificates to show our learning progression and skills learned. Here is those certificates for each subject i took.

            </p>

            <div class="row mt-4">
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/trainingicons/Adv-HTML5---CSS3.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">CIW Advanced HTML5 & CSS3 Specialist</h3>
                            <p class="card-text">
                                This was a big part of my catching up with being a software developer. I knew how much the techology had changed since i self taught myself HTML back in the 1990's, with languages like PHP about which offered great CMS systems
                                which just where not around back in those days. Learning all about the web trifector was one of the highlights of this period of my life. I spent a number of weeks after the end of my first year just messing around with my new found knowledge
                                from this part of the course and started putting a website together using the Trifector only. This can be seen on my Portfolio page.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/HTML_CSS_JS_Specialist.png" />
                        <a href="assets/img/certificates/HTML_CSS_JS_Specialist.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>
                    </div>
                </div>

                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/trainingicons/javaicon.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />

                        <div class="card-body">
                            <h3 class="card-title fw-bold">Java SE 8 Programmer 1</h3>
                            <p class="card-text">
                                Java SE 8 Programmer 1 was the first part of my course which i undertook. Having been more of a web only developer knowing and self teaching myself HTML back in the late 1990's i was playing catch up bit time.
                                Java for me is a language i wont be using as there personally to me are far superior options out there to use, but i am glad i havve gone through learning about the language as it was a big eye opener in many way.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/JavaSE8_1.png" />
                        <a href="assets/img/certificates/JavaSE8_1.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/trainingicons/MTASF.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Microsoft Software Fundamentals MTA Award</h3>
                            <p class="card-text">
                                Probably one of the more important parts of my 2 years studying was taking and passing this Microsoft Trained Associate exam on the fundermentals of software development. This course was fantastic in bringing me back up to speed on how software development workplaces work
                                and how to go from an initial idea to a production application.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/MTASoftwareDeelopmentFundamentals.png" />
                        <a href="assets/img/certificates/MTASoftwareDeelopmentFundamentals.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>

                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/trainingicons/javaicon.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Java Programmer 2</h3>
                            <p class="card-text">
                                As with Java programmer 1, the 2nd part of this Java course was very hhandy in opening one's eyes to many specific's when coding. It may not be a langauge i ever touch again but the fundamentals
                                held in Java are still adhered to these days in many language, despite others managing them in different fashions.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/JavaSE8_2.png" />
                        <a href="assets/img/certificates/JavaSE8_2.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/skillsicons/CSharp.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">C# Fundamentals Programming</h3>

                            <p class="card-text">
                                This was one of my favorite parts of my course as i had with a friend developed a interactive mod for a game called Cities Skylines, which interacted with a chat bot which was sat in my Twitch channel's chat.
                                The mod would await for specific commands to be put into chat, it would check if the person had sufficient points to trigger said command, if true then the event would happen in game in real time.
                                This was what made me realise it was time for me to properly go back to my coding roots, and put me on the path of taking this course and making the move from retail based jobs into software development.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/csharp7.png" />
                        <a href="assets/img/certificates/csharp7.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card shadow-no-hover">
                        <img src="assets/img/trainingicons/python.png" class="card-img-top img--size p-3" alt="Skill card thumbnail image" />
                        <hr />
                        <div class="card-body">
                            <h3 class="card-title fw-bold">Python Fundamentals</h3>

                            <p class="card-text">
                                It was this course which really helped my mind make the turn from not fully understanding OOP programming, to having a good understanding of it. It was my friend who helped me with my Twitch Chat bot originally who introduced
                                me to Python, he is extremely knowledgable about the language and wrote the original chat bot i used in Python.
                            </p>
                        </div>
                        <hr />
                        <img src="/assets/img/certificates/Python_Fundamentals.png" />
                        <a href="assets/img/certificates/Python_Fundamentals.png" target="_blank" class="btn btn-primary stretched-link">View Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<Footer />

@code {

}
