<div class="modal fade" id="informationModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal title" id="informationalModal">Example Portfolio Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item-active">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>


                        </div>

                        <div class="carousel-item">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                                <img src="/assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>


                        </div>
                        <div class="carousel-item">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image" />
                            </a>


                        </div>
                        <button class="carousel-control-prov" type="button" data-bs-target="carouselWithIndicaters" data-bs-slide-to="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-prov" type="button" data-bs-target="carouselWithIndicaters" data-bs-slide-to="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <p class="text-muted my-2">
                        Click an image to view it full screen (opens in a new tab)
                    </p>

                    <a herf="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                        <i class="fas fa-laptop-code"></i>Live Demo
                    </a>

                    <a herf="https://githhub.com/dotnet/aspnetcore" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                        <i class="fab fa-github--square"></i>Github Repo
                    </a>

                    <h1 class="mt-5">Description</h1>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim elit quis neque tincidunt ornare. Cras a mollis velit. Duis dictum purus quis vehicula molestie. Integer laoreet, justo in lacinia pellentesque, erat nulla blandit lectus, pellentesque consequat nunc sem a ex. Nam sollicitudin odio mauris, vitae luctus lectus auctor eget. Proin iaculis diam eget sagittis dictum. Mauris nec ex fermentum, ornare lacus vitae, mattis libero. Nam imperdiet vitae erat id vehicula. Nulla interdum, lorem vitae ultricies pulvinar, massa libero tristique dolor, sit amet pretium orci dui eu tortor. In pretium sed ante a sodales. Proin vitae volutpat velit. Donec sed leo vel purus congue laoreet id et felis. Aliquam erat volutpat. Aliquam fringilla at leo ac rutrum. Suspendisse a nisi ex. Integer pretium at dui a porttitor.
                        <br />
                        <br />
                        Praesent vitae tincidunt ante. Integer mattis felis sed feugiat auctor. Cras urna tortor, commodo ut nisl vitae, maximus elementum orci. Praesent tempus urna vitae ipsum iaculis, at mollis urna volutpat. Aliquam erat volutpat. Fusce dignissim, erat sed sodales finibus, risus nisi mattis risus, non mollis ligula ligula rutrum turpis. Maecenas quis nunc hendrerit, malesuada ligula ut, elementum turpis. Phasellus ac nisl in tellus gravida vestibulum. Proin erat tortor, condimentum ac mauris porttitor, blandit gravida dolor.
                    </p>
                    <h1 class="mt-5"> Core Features</h1>
                    <ul>
                        <li>Feature One</li>
                        <li>Feature Two</li>
                        <li>Feature Three</li>
                        <li>Feature Four</li>
                        <li>Feature Five</li>
                        <li>Feature Six</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg shadow" data_bs_dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>

    </div>


</div>