﻿<footer class="container-fluid p-4 shadow-no-hover">
    <div class=" ps-3 p-2 text-center">
        <p class="fa-bold n-0">All the places you can find me</p>
    </div>
    <div class="d-flex flex-row w-100 justify-content-center">
        <a href="https://github.com/Kigster85" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-github-square"></i>
        </a>
        <a href="https://mystifyCMS.ca" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-youtube-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/philip-billson/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/Kiggi__" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
            <i class="fab fa-twitter-square"></i>
        </a>
    </div>


</footer>