<div class="col-md-4 p-3">
    <div class="card mb-2">
        <img src="/uploads/placeholder.jpg" class="card-img-top" alt="Catergory" />
        <div class="card-body">
            <h3 class="card-title">Category Name</h3>
            <p class="card-text">Category Description</p>
        </div>

        <a href="/" class="btn btn-primary stretched-link">View Posts</a>
    </div>
</div>

